.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.char-row {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: flex-start;
   padding-top: 5px;
   padding-bottom: 5px;
}

.char-desc {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-top: 5px;
   padding-bottom: 5px;
}

img {
  height: 200px;
  max-height: 300px;
  max-width: 200px;
  padding-left: 10px;
}

#root {
   padding-top: 10px;
   padding-left: 20%;
   padding-right: 20%;
}

span {
   text-align: left;
}

h1 {
   text-align: center;
   padding-right: 5px;
}

h2 {
   padding: 0px;
   margin-bottom: 5px;
}

header {
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: baseline;
}

.char-button-row { }
